@import "../MainStyles";
@import "../breakpoints/breakpoints.scss";
.project {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include smoothTransition(transform);
  &:hover {
    transform: scale(0.98);
  }
}
.project_title {
  width: 100%;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  h1,
  p {
    font-size: 11px;
  }
  h1 {
    @include semiBoldFont;
  }
  p {
    color: rgb(136, 136, 136);
  }

  @include media(">=tablet") {
    h1,
    p {
      font-size: 13px;
    }
  }
  @include media(">=smallLT") {
    h1,
    p {
      font-size: 16px;
    }
  }
  @include media(">=laptop") {
    gap: 10px;
    h1{
      font-size: 23px;
    }
    p{
      font-size: 20px;
    }
  }
}
.project_img {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(">=largeMobile") {
    height: 200px;
  }
  @include media(">=tablet") {
    height: 330px;
  }
  @include media(">=smallLT") {
    height: 400px;
  }
  @include media(">=laptop") {
    height: 650px;
  }
  @include media(">=LGdesktop") {
    height: 770px;
  }
}
.img__sm {
  width: 25%;
  object-fit: contain;
}
.img__lg {
  width: 50%;
  object-fit: contain;
}
