@import "./MainStyles";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #363636;
  @include mainFont;
}
body {
  @include smoothTransition(background-color);
  background-color: #fff;
}
